extends layout

block content
    div.row
        div.small-12.columns

            p Rustle us up a word cloud by summarizing your thoughts and feelings on the day in three words.

            form(action="/submit/mood", method="POST")

                //label Happy
                //    input(type='radio', name='feeling', value='happy')
                //
                //label Meh
                //    input(type='radio', name='feeling', value='meh')
                //
                //label Sad
                //    input(type='radio', name='feeling', value='sad')

                input(type='text', name='word')

                input.button.expand.success(type='submit', value='Submit')


