doctype html
html
  head
    title CTM - Offsite
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.top-bar(data-topbar='', role='navigation')
          ul.title-area
              li.name
                if enabelBackToHome
                    a(href='/')
                        i.fa.fa-arrow-left
                span.title Comparethemarket - Offsite 2015
    div.content
        block content