extends layout

block content
    each val in questions
        div.row.question-list-question
            div.small-12.columns
                form(action="/question/delete/#{val._id}", method="POST")
                    i.fa.fa-question-circle
                    span(class="#{val.who}" style="text-transform:capitalize") #{val.who}
                    span - #{val.question}
                    input(type='submit', value='X')

