extends layout

block content
    each val in words
        div.row.question-list-question
            div.small-12.columns
                form(action="/word/delete/#{word}", method="POST")
                    i.fa.fa-question-circle
                    span #{val.word}
                    input(type='submit', value='X')

