doctype html
html
  head
    title CTM - Offsite
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/d3.layout.cloud.js')
    script(src='/javascripts/cloud.js')

  body(style="margin:0; font-size:100px")
