body{
    /*background:#E8CB9F;*/
    color:white;
}



.content{
    padding:10px 0;
}

.content img {
    margin-top:-10px;
}

p, label{
    font-size: 0.8em;
    color: black;
}


.fa-question-circle, .fa-cloud{
    font-size: 2em;
}


.fa-arrow-left{
    margin: 0 0 0 10px;
    color: white;
}

textarea{
    height: 150px;
}

.title{
    margin:0 15px !important;
}

.block{
    display:block;
}

.mt5{
    margin-top:5px;
}

.mt10{
    margin-top:10px;
}

.mb10{
    margin-bottom: 10px !important;
}

.question-list-question{
    border-bottom: 1px solid #9A9BA0;
    padding: 10px 0;
    font-size: 0.8em;
}

.question-list-question span{
    margin-left: 10px;
}

.heading {
    color:#828282;
    margin-bottom:0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.main-heading {
    font-size:1.3em;
}

.sub-heading {
    font-size:1em;
}

.line1 {
    color:#dc3c3c;
    font-size:1.7em;
    line-height:1em;
}

.line2 {
    font-size:3.4em;
    line-height:0.8em;
}

.bake-green{
    background:#7bb091;
}

.bake-green:hover, .bake-green:focus {
    background-color: #567d66;
}

.bake-blue{
    background:#9fd2cd;
}

.bake-blue:hover, .bake-blue:focus {
    background-color: #74d2d2;
}

.bunting{
    background: url('http://www.thesailorboystosyth.co.uk/communities/5/004/012/747/795//images/4611995197.png') repeat-x;
}

.top-bar{
    background:#cfb48c;
}