body{
    background:#195C99;
    color:white;
}

.content{
    padding:10px 0;
}

p, label{
    font-size: 0.8em;
    color: white;
}


.fa-question-circle, .fa-child{
    font-size: 2em;
}


.fa-arrow-left{
    margin: 0 0 0 10px;
    color: white;
}

textarea{
    height: 150px;
}

.title{
    margin:0 15px !important;
}

.block{
    display:block;
}

.mt5{
    margin-top:5px;
}

.mt10{
    margin-top:10px;
}